In [37]:
from sklearn.linear_model import LogisticRegression
from pandas import read_csv
import numpy as np

In [20]:
# import dataset
filename = "bondugula2-6.csv"
raw_data = read_csv(filename, header=1)
print(raw_data.columns)

Index(['Protein', 'No.', 'Res', 'isUnstruct', 'E6', 'E20', 'E22', 'Vkbat',
       'chou_fasman', 'sspro_5', 'gor4', 'dsc', 'jnet', 'psipred',
       '# homologues', 'HAS_H', 'HAS_S', 'HAS_O', 'HAS_U'],
      dtype='object')

In [25]:
# clean dataset
data = raw_data.drop(['E6', 'E20'], axis=1)
data = data[data['Res']!='_']
data.head(20)

,Protein,No.,Res,isUnstruct,E22,Vkbat,chou_fasman,sspro_5,gor4,dsc,jnet,psipred,# homologues,HAS_H,HAS_S,HAS_O,HAS_U
1,1N62,1,M,0.965840,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
2,1N62,2,I,0.895451,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
3,1N62,3,P,0.873306,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
4,1N62,4,G,0.830460,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
5,1N62,5,S,0.782811,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
6,1N62,6,F,0.693138,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
7,1N62,7,D,0.666512,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,1,0,0
8,1N62,8,Y,0.624208,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,1,0,0
9,1N62,9,H,0.621598,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,1,0,0
10,1N62,10,R,0.619118,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
11,1N62,11,P,0.608966,NaN,1.0,Other,Other,Other,Other,Other,Other,13,0,0,0,1
12,1N62,12,K,0.577936,NaN,3.0,Helix,Helix,Other,Other,Other,Other,13,0,0,1,0
13,1N62,13,S,0.528914,NaN,4.0,Helix,Other,Helix,Other,Helix,Other,13,0,0,1,0
14,1N62,14,I,0.433823,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0
15,1N62,15,A,0.403967,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0
16,1N62,16,D,0.374966,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0
17,1N62,17,A,0.328037,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0
18,1N62,18,V,0.282040,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0
19,1N62,19,A,0.265312,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0
20,1N62,20,L,0.248620,NaN,1.0,Helix,Helix,Helix,Helix,Helix,Helix,13,1,0,0,0

In [42]:

data['num_X'] = data['HAS_H'] + data['HAS_S'] + data['HAS_O'] + data['HAS_U'] # column with num
data['is_switch'] = np.where(data['num_X'] > 1, 1, 0) # create switch where contains multiple X